services:

  owncloud:
    container_name: owncloud
    hostname: owncloud
    image: owncloud/ocis:latest
    restart: unless-stopped
    networks:
      - ocis-network
    entrypoint:
      - /bin/sh
    # Run ocis init to initialize a configuration file with random secrets.
    # It will fail on subsequent runs, because the config file already exists.
    # Therefore we ignore the error and then start the ocis server
    command: ["-c", "ocis init"]
    expose:
      - 9200
    env_file:
      - owncloud-vars.env
    volumes:
      - /etc/docker/ocis:/etc/ocis
      - /var/lib/ocis:/var/lib/ocis

networks:
  ocis-network:
    external: true
