  
Alias /owncloud "/var/www/owncloud/"

<Directory /var/www/owncloud/>
  Options +FollowSymlinks
  AllowOverride All

 <IfModule mod_dav.c>
  Dav off
 </IfModule>
  SetEnv HOME /var/www/owncloud
  SetEnv HTTP_HOME /var/www/owncloud
</Directory>
<VirtualHost *:80>
  ServerName {{ _domain }}
  ServerAdmin {{ soa_email_address }}
  DocumentRoot /var/www/owncloud
    <directory /var/www/owncloud>
      Require all granted
      AllowOverride All
      Options FollowSymLinks MultiViews
      SetEnv HOME /var/www/owncloud
      SetEnv HTTP_HOME /var/www/owncloud
    </directory>
</VirtualHost>